<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Righteous&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <h1 class="text-center">Enter Employee Information</h1>
    <form class="row g-2" method="post" action="/delete_1">
        {% csrf_token %}
        <br><br><br>
        <div class="col-auto">
            <label for="t1" class="form-label">Enter Employee Id</label>
            <input id="t1" name="t1" class="form-control" type="number" placeholder="Employee Id" aria-label="default input example">
        </div>
        <div class="col-auto" style="margin-top:40px;">
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
</body>
</html>