<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Righteous&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
a{
    margin:3px;
    width:300px;
    height:30px;
}
.list-group1{
    margin-top:70px;
    align:center;
    text-align:center;
    width:200px;
    margin-left:41%;
}
</style>
<body>
    <h1 class="sh" align="center" style="color: red ; font-family: 'Chakra Petch', sans-serif;" >Show the contents </h1>
    <div class="list-group1">
        <a href="/show1" class="list-group-item list-group-item-action list-group-item-primary">Employee</a>
        <a href="/show2" class="list-group-item list-group-item-action list-group-item-secondary">Resource</a>
        <a href="/show3" class="list-group-item list-group-item-action list-group-item-success">Industry</a>
        <a href="/show4" class="list-group-item list-group-item-action list-group-item-danger">Location</a>
        <a href="/show5" class="list-group-item list-group-item-action list-group-item-warning">Investors</a>
        <a href="/show6" class="list-group-item list-group-item-action list-group-item-info">Startup Founders</a>
        <a href="/show7" class="list-group-item list-group-item-action list-group-item-light">Invests</a>
        <a href="/show8" class="list-group-item list-group-item-action list-group-item-dark">Director</a>
        <a href="/show9" class="list-group-item list-group-item-action list-group-item-primary">Project</a>
        <a href="/show10" class="list-group-item list-group-item-action list-group-item-secondary">Startup</a>
      </div>
</body>
</html>